<div th:fragment="breadcrumb">
    <div class="page-breadcrumb">
        <div class="row align-items-center justify-content-between">
            <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-flex align-items-center">
                        <li class="breadcrumb-item">
                            <a href="index.html" class="link"
                            ><i class="mdi mdi-home-outline fs-4"></i
                            ></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Dashboard
                        </li>
                    </ol>
                </nav>
                <h1 class="mb-0 fw-bold">Hai, Alvin Novian...</h1>
            </div>
            <div class="col-4">
                <div class="d-flex align-items-center flex-row m-t-30 justify-content-end">
                    <div class="display-5 text-info">
                        <i class="mdi mdi-weather-lightning-rainy"></i>
                        <span>73<sup>°</sup></span>
                    </div>
                    <div class="m-l-10">
                        <h3 class="m-b-0">Saturday</h3>
                        <small>Jakarta, Indonesia</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>