<div th:fragment="script">
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/app-style-switcher.js}"></script>
    <script th:src="@{/js/waves.js}"></script>
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
    <script th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
    <script th:src="@{/js/pages/dashboards/dashboard1.js}"></script>
</div>