<div th:fragment="tag_head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            th:href="@{/assets/images/favicon.png}"
    />
    <link
            th:href="@{/assets/libs/chartist/dist/chartist.min.css}"
            rel="stylesheet"
    />
    <link
            th:href="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css}"
            rel="stylesheet"
    />
    <link th:href="@{/css/style.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</div>