<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <div th:replace="layouts/tag-head::tag_head"></div>
    <title>Products | Warehouse</title>
</head>

<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div
        id="main-wrapper"
        data-layout="vertical"
        data-navbarbg="skin5"
        data-sidebartype="full"
        data-sidebar-position="absolute"
        data-header-position="absolute"
        data-boxed-layout="full"
>

    <!-- Header Fragment -->
    <div th:replace="layouts/header::header"></div>

    <!-- Sidebar Fragment -->
    <div th:replace="layouts/sidebar::sidebar"></div>

    <div class="page-wrapper pt-0 mt-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-md-flex">
                                <div>
                                    <h4 class="card-title">Your Products</h4>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table
                                        class="table mb-0 table-hover align-middle text-nowrap"
                                >
                                    <thead>
                                    <tr>
                                        <th class="border-top-0">Product Name</th>
                                        <th class="border-top-0">Product Category</th>
                                        <th class="border-top-0">Description</th>
                                        <th class="border-top-0">Division</th>
                                        <th class="border-top-0">Stock</th>
                                        <th class="border-top-0 text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <a th:href="@{/}">
                                                <h4 class="m-b-0 font-16">Elite Admin</h4>
                                            </a>
                                        </td>
                                        <td>Single Use</td>
                                        <td>John Doe</td>
                                        <td>
                                            <label class="badge bg-danger">Angular</label>
                                        </td>
                                        <td>46</td>
                                        <td class="text-center">
                                            <a th:href="@{#}" class="btn btn-info btn-sm text-white" data-bs-toggle="modal"
                                               data-bs-target="#modalEditProduct"><span class="mdi mdi-pencil"></span></a>
                                            <a th:href="@{#}" class="btn btn-danger btn-sm text-white"><span class="mdi mdi-delete"></span></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <a href="#"
                           class="btn btn-info btn-rounded btn-md text-white"
                           data-bs-toggle="modal"
                           data-bs-target="#modalAddProduct">Add Product</a>
                    </div>

                    <!-- Modal Create New User-->
                    <div
                            class="modal fade"
                            id="modalAddProduct"
                            data-bs-backdrop="static"
                            data-bs-keyboard="false"
                            tabindex="-1"
                            aria-labelledby="staticBackdropLabel"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content p-3">
                                <div class="modal-header d-flex align-items-center">
                                    <h4 class="modal-title" id="myLargeModalLabel">
                                        Add new product.
                                    </h4>
                                    <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="mb-3">
                                                    <label for="productName">Product Name</label>
                                                    <input type="text" id="productName" class="form-control py-3" autocomplete="off"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="mb-3">
                                                    <label for="productCat">Product Category</label>
                                                    <select id="productCat"
                                                            class=" form-select form-control shadow-none py-3"
                                                    >
                                                        <option class="font-bold" disabled>Choose one</option>
                                                        <option>India</option>
                                                        <option>Usa</option>
                                                        <option>Canada</option>
                                                        <option>Thailand</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="mb-3">
                                                    <label for="productStock">Stock</label>
                                                    <input type="text" id="productStock" class="form-control py-3" autocomplete="off"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group mb-3">
                                                    <label for="productDesc">Description</label>
                                                    <textarea class="form-control" id="productDesc" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="mx-auto mb-3">
                                    <button type="submit" class="btn btn-info btn-rounded btn-md text-white">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Create New User-->
                    <div
                            class="modal fade"
                            id="modalEditProduct"
                            data-bs-backdrop="static"
                            data-bs-keyboard="false"
                            tabindex="-1"
                            aria-labelledby="staticBackdropLabel"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content p-3">
                                <div class="modal-header d-flex align-items-center">
                                    <h4 class="modal-title" id="myLargeModalLabel1">
                                        Add new product.
                                    </h4>
                                    <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="mb-3">
                                                    <label for="productNameUpdate">Product Name</label>
                                                    <input type="text" id="productNameUpdate" class="form-control py-3" autocomplete="off"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="mb-3">
                                                    <label for="productCatUpdate">Product Category</label>
                                                    <select id="productCatUpdate"
                                                            class=" form-select form-control shadow-none py-3"
                                                    >
                                                        <option class="font-bold" disabled>Choose one</option>
                                                        <option>India</option>
                                                        <option>Usa</option>
                                                        <option>Canada</option>
                                                        <option>Thailand</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="mb-3">
                                                    <label for="productStockUpdate">Stock</label>
                                                    <input type="text" id="productStockUpdate" class="form-control py-3" autocomplete="off"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group mb-3">
                                                    <label for="productDescUpdate">Description</label>
                                                    <textarea class="form-control" id="productDescUpdate" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="mx-auto mb-3">
                                    <button type="submit" class="btn btn-info btn-rounded btn-md text-white">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="layouts/script::script"></script>
</body>
</html>
