<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <div th:replace="layouts/tag-head::tag_head"></div>
    <title>Profile | Warehouse</title>
</head>

<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div
        id="main-wrapper"
        data-layout="vertical"
        data-navbarbg="skin5"
        data-sidebartype="full"
        data-sidebar-position="absolute"
        data-header-position="absolute"
        data-boxed-layout="full"
>

    <!-- Header Fragment -->
    <div th:replace="layouts/header::header"></div>

    <!-- Sidebar Fragment -->
    <div th:replace="layouts/sidebar::sidebar"></div>

    <div class="page-wrapper pt-0 mt-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <center class="m-t-30">
                                <img
                                        th:src="@{../assets/images/users/5.jpg}"
                                        class="rounded-circle"
                                        width="150"
                                />
                                <h4 class="card-title m-t-10">Hanna Gover</h4>
                                <h6 class="card-subtitle">Accounts Manager Amix corp</h6>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal form-material mx-2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <label for="fullName">Full Name</label>
                                            <input type="text" id="fullName" class="form-control py-3" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <label for="email">Email</label>
                                            <input type="email" id="email" class="form-control py-3" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <label for="password">Password</label>
                                            <input type="password" id="password" class="form-control py-3" autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-info btn-rounded btn-md text-white">
                                        Update Profile
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="layouts/script::script"></script>
</body>
</html>
